.root {
    -fx-background-color: #5b5b5b;
}
.button {
    -fx-background-color: #4b4b4b;
    -fx-text-fill: #cecdcd;
}
.button:hover {
    -fx-background-color: #212121;
    -fx-text-fill: #eaeaea;
}
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}
.text-area {
    -fx-text-fill: #d7d6d6;
    -fx-font-size: 16px;
}
.text-area .content {
    -fx-background-color: #5b5b5b;
}
.custom-dialog {
    -fx-background-color: #737373;
    -fx-text-fill: #ececec;
    -fx-font-size: 14px;
}
.custom-dialog .header-panel {
    -fx-background-color: #737373;
    -fx-text-fill: #eaeaea;
}
.custom-dialog .content {
    -fx-background-color: #737373;
}
.icon-button {
    -fx-background-image: url('icons/iconTxt.png');
    -fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-content-display: top;
    -fx-graphic-text-gap: 0;
}